<nav>    
    <div class="nav-wrapper">      
        <a href="#" class="brand-logo center">Logo</a>      
        <ul id="nav-mobile" class="left hide-on-med-and-down">   
            <li><LinkTo @route='home'>Home</LinkTo></li>        
            <li><LinkTo @route='videos'>Videos</LinkTo></li>        
        </ul>    
    </div>  
</nav>