<nav>    
    <div class="nav-wrapper">      
        <a href="#" class="brand-logo center">Logo</a>      
        <ul id="nav-mobile" class="left hide-on-med-and-down"> 
            <li>{{#link-to 'home'}}Home{{/link-to}}  </li>
            <li>{{#link-to 'videos'}}Videos{{/link-to}}  </li>
            {{!-- <li><LinkTo @route='home'>Home</LinkTo></li>        
            <li><LinkTo @route='videos'>Videos</LinkTo></li>         --}}
        </ul>    
    </div>  
</nav>